{% extends 'base.html' %}
{% load thumbnail %}


{% block title %}{{ page.title }} - {{ block.super }}{% endblock %}

{% block pagetitle %}<a href="{{ page.get_absolute_url }}">{{ page.title }}</a>{% endblock %}


{% block nav %}
{% include "includes/nav.html" with current_page=page only %}
{% endblock nav %}


{% block content %}
{% thumbnail page.hero_image.file "537" as thumb %}
    <div class="hero-image">
        <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="">
    </div>
{% endthumbnail %}

{{ page.content|safe }}
{% endblock content %}
